{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="{% static "statics/js/vendor/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "statics/js/popper.min.js" %}"></script>
<script src="{% static "statics/js/vendor/bootstrap.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static "statics/js/jquery-ui.js" %}"></script>
<script src="{% static "statics/js/easing.min.js" %}"></script>
<script src="{% static "statics/js/hoverIntent.js" %}"></script>
<script src="{% static "statics/js/superfish.min.js" %}"></script>
<script src="{% static "statics/js/jquery.ajaxchimp.min.js" %}"></script>
<script src="{% static "statics/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "statics/js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "statics/js/owl.carousel.min.js" %}"></script>
<script src="{% static "statics/js/mail-script.js" %}"></script>
<script src="{% static "statics/js/main.js" %}"></script>
</body>
</html>